body{
    margin: 0;
    background-image: url("Images/wpbb.png");
    background-repeat: repeat-y;
    background-size: 100%;
    color: ivory;
    
}
h1{
    font-size: 60px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h{
    margin-bottom: 100px;
}
.i{
    text-align: center;
}
.f{
    text-align: center;
    font-size: 25px;
    background-image: url("Images/wpb2.png");
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.o{
    color: gold;
}
img{
    width: 500px;
}
.cv{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.c1{
    margin-left: 10%;
    float: left;
}
.c2{
    margin-left: 10%;
    float: left;
}
.c3{
    margin-left: 5%;
    width: 50%;
    float: left;
}
a{
    text-decoration: none;
    border-radius: 5px;
    color: mintcream;
    padding: 5px;
}
.sf{
    background-image: url("Images/wpf.png");
    background-size: 220px;
    padding-left: 30px;
}
.st{
    background-image: url("Images/wpt.png");
    background-size: 220px;
    padding-left: 33px;
}
.sw{
    background-image: url("Images/wpw.png");
    background-size: 220px;
    padding-left: 33px;
}